[Unit]
Description= Load datarmnet dlkm service
SourcePath=/etc/initscripts/start_rmnetcore_le

[Service]
Restart=on-failure
RemainAfterExit=yes
ExecStart=/etc/initscripts/start_rmnetcore_le start

[Install]
WantedBy=multi-user.target