#Copyright (c) 2023 Qualcomm Innovation Center, Inc. All rights reserved.
#SPDX-License-Identifier: BSD-3-Clause-Clear

[Unit]
Description=EMAC_SHIM
DefaultDependencies=no

[Service]
Restart=no
RemainAfterExit=yes
ExecStart=/sbin/modprobe stmmac
ExecStop=/sbin/rmmod stmmac
Nice=-20

[Install]
WantedBy=local-fs.target
