Copyright (c) 2023 Qualcomm Innovation Center, Inc. All rights reserved.
SPDX-License-Identifier: BSD-3-Clause-Clear

[Unit]
Description=EMAC_IOSS

[Service]
Type=oneshot
Restart=no
RemainAfterExit=yes
ExecStart=/bin/sh -c '/sbin/modprobe ioss qos_id=$(/usr/bin/id -g ethqos)' ; /sbin/modprobe iemac_ioss
ExecStop=/sbin/rmmod iemac_ioss ; /sbin/rmmod ioss

[Install]
WantedBy=multi-user.target
