[Unit]
Description=Lightning Fast Webserver With Light System Requirements
After=network.target

[Service]
Type=forking
ExecStartPre=@SYSCONFDIR@/initscripts/lighttpd start
ExecStart=/usr/sbin/lighttpd -f /data/lighttpd.conf

ExecStop=@SYSCONFDIR@/initscripts/lighttpd stop
ExecStop=kill -15 $MAINPID

[Install]
WantedBy=multi-user.target

