[Unit]
SourcePath=/usr/bin/ipacm
Description= IPACM Service
Before= QCMAP_ConnectionManagerd.service

[Service]
Restart=no
ExecStart=/usr/bin/ipacm

[Install]
WantedBy=multi-user.target
