[Unit]
SourcePath=/usr/bin/ipacm
Description= IPACM Service
Before= QCMAP_ConnectionManagerd.service
After= start_stop_ipa_fws.service local-fs.target systemd-tmpfiles-setup.service
DefaultDependencies=no

[Service]
Restart=no
ExecStart=/usr/bin/ipacm
User=radio
Group=radio
SupplementaryGroups=diag inet
AmbientCapabilities=CAP_NET_ADMIN

[Install]
WantedBy=local-fs.target
