[Unit]
SourcePath=/usr/bin/ipacm
Description= IPACM Service
Before= QCMAP_ConnectionManagerd.service
After= local-fs.target systemd-tmpfiles-setup-dev.service dataipa.service
Requires= systemrw.mount
DefaultDependencies=no
Conflicts=shutdown.target

[Service]
Restart=on-failure
ExecStartPre=+/sbin/mount-copybind /systemrw/data/ipa/ipa_filter_cfg.xml /etc/data/ipa/ipa_filter_cfg.xml
ExecStartPre=+/sbin/mount-copybind /systemrw/data/ipa/IPACM_cfg.xml /etc/data/ipa/IPACM_cfg.xml
ExecStart=/usr/bin/ipacm
TimeoutStopSec=20
ExecStopPost=/bin/sh -c 'rm /var/run/data/monitor/ipacmd.pid'
User=radio
Group=radio
SupplementaryGroups=diag inet
AmbientCapabilities=CAP_NET_ADMIN
CapabilityBoundingSet=CAP_NET_ADMIN

[Install]
WantedBy=local-fs.target
