[Unit]
Description= dhcpcd service on %I
SourcePath=/usr/sbin/dhcpcd

[Service]
Type=forking
Restart=no
ExecStart=/usr/sbin/dhcpcd %I -t 0 -o domain_name_servers --noipv4ll -h -b -G
ExecStop=/bin/kill -15 $MAINPID
ExecStopPost=rm -rf /var/run/dhcpcd-%I.info
