[Unit]
Description= eth-adaption-layer service
DefaultDependencies=no
After=network.target network-online.target QCMAP_ConnectionManagerd.service emac.service
ConditionPathExists=/dev/emac

[Service]
Restart=no
# This service file has no binary and it is to execute the list of commands in <
# Use Script file only when there is NO binary or commands to be executed/ modul
ExecStart=/etc/initscripts/start_eth-adaption-layer_le start /etc/initscripts/config.ini

[Install]
WantedBy=multi-user.target
