[Unit]
Description= Load rmnetbam dlkm service
DefaultDependencies=no
AssertPathExists=/lib/modules/

[Service]
Restart=on-failure
RemainAfterExit=yes
Type=oneshot
ExecStart=/bin/sh -c '/sbin/insmod /lib/modules/$(uname -r)/extra/rmnet_bam.ko'
Nice=-20

[Install]
WantedBy=local-fs.target
