# Copyright (c) 2022 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

[Unit]
Description= Load dataipa dlkm
SourcePath=/etc/initscripts/start_dataipa_le
DefaultDependencies=no

[Service]
Restart=no
RemainAfterExit=yes
Type=oneshot
ExecStart=/etc/initscripts/start_dataipa_le start
Nice=-20

[Install]
WantedBy=local-fs.target
