[Unit]
Description= Load dataipa dlkm
SourcePath=/usr/bin/start_dataipa_le
After= systemrw.mount
Requires= systemrw.mount
DefaultDependencies=no

[Service]
Restart=no
RemainAfterExit=yes
Type=oneshot
ExecStart=/usr/bin/start_dataipa_le start
Nice=-20

[Install]
WantedBy=local-fs.target
