[Unit]
SourcePath=/usr/bin/dnsmasq
Description= dnsmasq service
DefaultDependencies=no

[Service]
ExecStart=/usr/bin/dnsmasq --conf-file=/var/run/data/dnsmasq.conf.bridge%i --user=radio --group=radio
ExecReload=killall -HUP dnsmasq
ExecStop=/etc/initscripts/qcmap_stop_dnsmasq.sh %i
Type=oneshot
RemainAfterExit=yes
Nice=-20
