#Copyright (c) 2023 Qualcomm Innovation Center, Inc. All rights reserved.
#SPDX-License-Identifier: BSD-3-Clause-Clear

[Unit]
SourcePath=/usr/sbin/mka_supplicant
Description=MACSEC Key Agreement Protocol (IEEE 802.1X) Supplicant
BindsTo=sys-subsystem-net-devices-%i.device
After=sys-subsystem-net-devices-%i.device

[Service]
# Increase real interface MTU by 36B to accomodate MACSEC header+icv
# and VLAN header overhead
ExecStartPre=/sbin/ip link set mtu 1536 dev %i
ExecStart=/usr/sbin/mka_supplicant -D macsec_linux -i %i -c /etc/data/mka_supplicant-%i.conf
ExecStopPost=/sbin/ip link set mtu 1500 dev %i

[Install]
WantedBy=multi-user.target

# vim: syntax=systemd
